body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#top_bar {
  width: 1050px;
  height: 40px;
  margin: 0 auto;
}

#logo {
  margin-top: 8px;
  width: 100px;
  float: left;
  margin-right: 8px;
}

.sign_in {
  border-left: 1px #CCCCCC solid;
  float: left;
  /*width: 150px;*/
  padding-right: 50px;
  height: 40px;
}

.sign_in_image {
  width: 25px;
  margin: 10px 10px;
  float: left;
}

.sign_in_text {
  color: black;
  font-weight: bold;
  font-size: 90%;
  position: relative;
  top: 12px;
}

#line {
  float: left;
  height: 40px;
}

#bell  {
  width: 25px;
  height: 25px;
  float: left;
  margin: 9px;
}

a {
  text-decoration: none;
}


#navigation_first a {
  border-left: 1px #CCCCCC solid;
  color: black;
  font-weight: bold;
  float: left;
  margin: 0px;
  font-size: 90%;
  height: 27px;
  padding: 13px 15px 0 15px;

}

#navigation_first span {
  float: left;
  padding-right: 25px;
}

#search_box {
  padding: 8px 10px;
  height: 24px;
  border-left: 1px #CCCCCC solid;
  float: left;
}

#search_box input {
  float: left;
  background-color: #D3D3D3;
  border: none;
  font-weight: bold;
  padding: 3px 0px 3px 5px;
}

.bold {
  font-weight: bold;
}

#banner {
  background-color: #BB1919;
}

#banner_content {
  width: 1050px;
  height: 56px;
  margin: 0 auto;
}

#news_img {
  float: left;
}

.banner_header {
  color: white;
  border: 0.1px white solid;
  float: right;
  margin-right: 15px;
  padding: 5px 30px 5px 10px;
  font-size: 110%;
}

#navigation_main {
  background-color: #A91717;
}

#navigation_second {
  width: 1050px;
  height: 40px;
  margin: 0 auto;
}

#navigation_second a {
  color: white;
  float: left;
  margin: 10px 0;
  padding-right: 10px;
  font-size: 100%;
}

.border_nav a {
  border-left: 1px #CCCCCC solid;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  width: 1050px;
  margin: 0 auto;
}

#breaking_news_section {
  width: 75%;
  border-right: 1px #CCCCCC solid;
}

.breaking_news_img {
  width: 50%;
}
